[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "thirdparty/kernel_launcher"]
	path = thirdparty/kernel_launcher
	url = https://github.com/KernelTuner/kernel_launcher.git
[submodule "thirdparty/kernel_float"]
	path = thirdparty/kernel_float
    url = https://github.com/KernelTuner/kernel_float.git
[submodule "thirdparty/kmm"]
	path = thirdparty/kmm
	url = http://github.com/NLeSC-COMPAS/kmm.git
